:host {
  display: block;
  border-radius: var(--radius-medium);
  background-color: var(--color-background-secondary);
  color: var(--color-text-primary);
  margin-block-start: 1em;
  margin-block-end: 1em;
}
@container document-body style(--config-corner-squircle: true) {
  @supports (corner-shape: squircle) {
    :host {
      corner-shape: squircle;
      --radius-tiny: 10px;
      --radius-small: 20px;
      --radius-medium: 30px;
      --radius-large: 40px;
      --radius-full: 999px;
    }
    :host * {
      --radius-tiny: 4px;
      --radius-small: 8px;
      --radius-medium: 12px;
      --radius-large: 16px;
      --radius-full: 999px;
    }
  }
}
:host:host([type=warning]) {
  background-color: var(--color-background-warning);
  color: color-mix(in oklch, var(--color-text-primary) 60%, var(--color-text-warning));
}
:host:host([type=warning]) .header {
  color: var(--color-text-warning);
}
:host:host([type=accent]) {
  background-color: var(--color-background-accent-lite);
  color: color-mix(in oklch, var(--color-text-primary) 60%, var(--color-text-accent));
}
:host:host([type=accent]) .header {
  color: var(--color-text-accent);
}
:host:host([type=success]) {
  background-color: var(--color-background-success);
  color: color-mix(in oklch, var(--color-text-primary) 60%, var(--color-text-success));
}
:host:host([type=success]) .header {
  color: var(--color-text-success);
}

.container {
  padding: 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.title {
  font-weight: 600;
  font-size: 16px;
}

.content {
  font-size: 15px;
}

.hidden {
  display: none;
}